/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Poppins:500,600,700');

// fonts
$base-font-size: 15;
$base-font: 'Open Sans', sans-serif;
$heading-font: 'Poppins', sans-serif;



// color
$dark-gray: #2a2a2a;
$white: #fff;
$black: #000;

$theme-primary-color: #022f7a;
// $theme-secondary-color: #e4c463;
$theme-secondary-color: #21c674;
$section-bg-color: #edecec;
$text-color: #666;
$heading-color: #1e2331;
